@tailwind base;
@tailwind components;
@tailwind utilities;

.rfm-initial-child-container,
.rfm-child {
  @apply w-full;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-MediumItalic.eot");
  src: local("Basis Grotesque Pro Medium Italic"), local("BasisGrotesquePro-MediumItalic"), url("./fonts/BasisGrotesquePro-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-MediumItalic.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-MediumItalic.woff") format("woff"),
    url("./fonts/BasisGrotesquePro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-Regular.eot");
  src: local("Basis Grotesque Pro Regular"), local("BasisGrotesquePro-Regular"), url("./fonts/BasisGrotesquePro-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-Regular.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Regular.woff") format("woff"), url("./fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-BoldItalic.eot");
  src: local("Basis Grotesque Pro Bold Italic"), local("BasisGrotesquePro-BoldItalic"), url("./fonts/BasisGrotesquePro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-BoldItalic.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-BoldItalic.woff") format("woff"),
    url("./fonts/BasisGrotesquePro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-Italic.eot");
  src: local("Basis Grotesque Pro Italic"), local("BasisGrotesquePro-Italic"), url("./fonts/BasisGrotesquePro-Italic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-Italic.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Italic.woff") format("woff"), url("./fonts/BasisGrotesquePro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-BlackItalic.eot");
  src: local("Basis Grotesque Pro Black Italic"), local("BasisGrotesquePro-BlackItalic"), url("./fonts/BasisGrotesquePro-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-BlackItalic.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-BlackItalic.woff") format("woff"),
    url("./fonts/BasisGrotesquePro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-Black.eot");
  src: local("Basis Grotesque Pro Black"), local("BasisGrotesquePro-Black"), url("./fonts/BasisGrotesquePro-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-Black.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Black.woff") format("woff"), url("./fonts/BasisGrotesquePro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-LightItalic.eot");
  src: local("Basis Grotesque Pro Light Italic"), local("BasisGrotesquePro-LightItalic"), url("./fonts/BasisGrotesquePro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-LightItalic.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-LightItalic.woff") format("woff"),
    url("./fonts/BasisGrotesquePro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-Light.eot");
  src: local("Basis Grotesque Pro Light"), local("BasisGrotesquePro-Light"), url("./fonts/BasisGrotesquePro-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-Light.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Light.woff") format("woff"), url("./fonts/BasisGrotesquePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-Bold.eot");
  src: local("Basis Grotesque Pro Bold"), local("BasisGrotesquePro-Bold"), url("./fonts/BasisGrotesquePro-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-Bold.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Bold.woff") format("woff"), url("./fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("./fonts/BasisGrotesquePro-Medium.eot");
  src: local("Basis Grotesque Pro Medium"), local("BasisGrotesquePro-Medium"), url("./fonts/BasisGrotesquePro-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BasisGrotesquePro-Medium.woff2") format("woff2"), url("./fonts/BasisGrotesquePro-Medium.woff") format("woff"), url("./fonts/BasisGrotesquePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Basis Grotesque Pro";
}

body {
  scroll-behavior: smooth;
}
